-
  var _globalBrands = [
    {
      name: "Airbnb",
      logo: "logo-airbnb.png"
    },
    {
      name: "Booking",
      logo: "logo-booking.svg"
    },
    {
      name: "Coca-Cola",
      logo: "logo-cocacola.png"
    },
    {
      name: "Pinterest",
      logo: "logo-pinterest.png"
    },
    {
      name: "Unsplash",
      logo: "logo-unsplash.png"
    }
  ];

  var _globalContact = {
    email: "info@yourdomain.com",
    phone: "+1 (68) 120034509",
    address: "2005 Stokes Isle Apt. 896, Venaville 10010, USA"
  }

  var _globalSocial = [
    {
      title: "Facebook",
      icon: "facebook-square",
      link: "https://www.facebook.com/"
    },
    {
      title: "Twitter",
      icon: "twitter",
      link: "https://twitter.com/"
    },
    {
      title: "Instagram",
      icon: "instagram",
      link: "https://www.instagram.com/"
    },
    {
      title: "Dribbble",
      icon: "dribbble",
      link: "https://www.dribbble.com/"
    },
    {
      title: "Pinterest",
      icon: "pinterest",
      link: "https://www.pinterest.com/"
    }
  ];

  var _globalTeam = [
    {
      name: "Michaela Coel",
      photo: "michaela-coel",
      role: "I May Destroy You",
      social: {
        facebook: "//facebook.com/michaela.coel",
        instagram: "//instagram.com/michaela.coel",
        twitter: "michaela.coel"
      }
    },
    {
      name: "Florence Welch",
      photo: "florence-welch",
      role: "Dog Days Are Over",
      social: {
        facebook: "//facebook.com/florence.welch",
        instagram: "//instagram.com/florence.welch",
        twitter: "//twitter.com/florence.welch"
      }
    },
    {
      name: "Viola Davis",
      photo: "viola-davis",
      role: "HTGAWM",
      social: {
        facebook: "//facebook.com/viola.davis",
        instagram: "//instagram.com/viola.davis",
        twitter: "//twitter.com/viola.davis"
      }
    },
    {
      name: "Fernanda Montenegro",
      photo: "fernanda-montenegro",
      role: "Central do Brasil",
      social: {
        facebook: "//facebook.com/fernanda.montenegro",
        instagram: "//instagram.com/fernanda.montenegro",
        twitter: "//twitter.com/fernanda.montenegro"
      }
    },
    {
      name: "Wagner Moura",
      photo: "wagner-moura",
      role: "Praia do Futuro",
      social: {
        facebook: "//facebook.com/wagner.moura",
        instagram: "//instagram.com/wagner.moura",
        twitter: "//twitter.com/wagner.moura"
      }
    },
    {
      name: "Annie Lennox",
      photo: "annie-lennox",
      role: "Sweet Dreams",
      social: {
        facebook: "//facebook.com/annie.lennox",
        instagram: "//instagram.com/annie.lennox",
        twitter: "//twitter.com/annie.lennox"
      }
    },
  ];

  var _globalTestimonials = [
    {
      testimonial: "Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.",
      author: {
        avatar: "avatar-1.jpg",
        name: "Linda Choi",
        role: "Pineapple, Marketing"
      }
    },
    {
      testimonial: "Success is no accident. It is hard work, perseverance, learning, studying.",
      author: {
        avatar: "avatar-2.jpg",
        name: "Linda Choi",
        role: "Pineapple, Marketing"
      }
    },
    {
      testimonial: "Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all.",
      author: {
        avatar: "avatar-3.jpg",
        name: "Linda Choi",
        role: "Pineapple, Marketing"
      }
    },
    {
      testimonial: "Hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do.",
      author: {
        avatar: "avatar-4.jpg",
        name: "Linda Choi",
        role: "Pineapple, Marketing"
      }
    }
  ];
