-
  var head = {
    title: 'BDF - A Web Development Project',
    description: 'BDF - A Web Development Project build with HTML, CSS, JavaScript.',
    url: "/"
  }

  var whatwedo = {
    header: {
      label: {
        copy: "What We Do",
        color: "color-primary",
      },
      title: {
        copy: "Take your brand to the next level.",
      }
    },
    items: [
      {
        icon: "eye",
        title: "Modern design",
        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit enean ipsum dolor Modern design.",
        link: "#"
      },
      {
        icon: "bookmark",
        title: "Multi-purpose",
        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit enean ipsum dolor. Multi-purpose",
        link: "#"
      },
      {
        icon: "clone",
        title: "Responsive layouts",
        description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit enean ipsum dolor. Responsive layouts",
        link: "#"
      },
    ]
  }

  var portfolio = {
    header: {
      color: "color-base-white",
      label: {
        copy: "What We Do",
      },
      title: {
        copy: "Our recent works",
      }
    },
    items: [
      {
        title: "Label Tags",
        image: "post-1.jpg",
        link: "#"
      },
      {
        title: "Software Development",
        image: "post-2.jpg",
        link: "#"
      },
      {
        title: "Coloring",
        image: "post-3.jpg",
        link: "#"
      },
      {
        title: "Photography",
        image: "post-4.jpg",
        link: "#"
      },
    ]
  }

  var facts = {
    header: {
      label: {
        copy: "Number Speaks",
        color: "color-primary",
      },
      title: {
        copy: "We always ready for a challenge.",
      }
    },
    items: [
      {
        icon: "users",
        count: "99",
        unit: "%",
        description: "Satisfied clients"
      },
      {
        icon: "eye",
        count: "2034",
        unit: "",
        description: "Unique designs"
      },
      {
        icon: "inbox",
        count: "580",
        unit: "+",
        description: "Projects"
      },
    ]
  }

  var blog = {
    header: {

      color: "color-base-white",
      label: {
        copy: "Latest News",
      },
      title: {
        copy: "From our blog.",
        cssMargin: " ",
      }
    },
  }

  var team = {
    header: {
      label: {
        color: "color-primary",
        copy: "Team Members",
      },
      title: {
        copy: "Our creative crew.",
      }
    },
  }
