//- BASE COMPONENTS
include head
include navigation
include footer

//- GTM COMPONENTS
include gtm
include gtm-noscript
include gtm-datalayer

//- PAGE COMPONENTS
include components/_all

//- PAGE VARIABLES
include ../content/pages/_global
