-
  var footerLinks = [
    {
      label: "Our Company",
      link: "#"
    },
    {
      label: "Contact Us",
      link: "#"
    },
    {
      label: "Our services",
      link: "#"
    },
    {
      label: "Careers",
      link: "#"
    },
    {
      label: "Our Team",
      link: "#"
    }
  ]

  var footerInstitutional = [
    {
      label: "Our blog",
      link: "#"
    },
    {
      label: "Latest projects",
      link: "#"
    },
    {
      label: "Contact us",
      link: "#"
    }
  ]
