include pages/_global

-
  var navLinks = [
    {
      label: "Home",
      link: "#home"
    },
    {
      label: "What We Do",
      link: "#whatwedo",
    },
    {
      label: "Portfolio",
      link: "#portfolio"
    },
    {
      label: "Facts",
      link: "#facts",
    },
    {
      label: "Blog",
      link: "#blog",
    },
    {
      label: "Team",
      link: "#team",
    },
    {
      label: "Start",
      link: "#start",
    }
  ]
