//----------------------------------------------------------------
// Cards
//----------------------------------------------------------------
.card {
  @import 'cards/blog';
  @import 'cards/portfolio';
  @import 'cards/testimonial';

  display: flex;
  flex-direction: column;
  height: 100%;

  &-inner {
    border-style: solid;
    border-width: bdfRemSize(1);
    height: 100%;
  }
}
